<div class="prod-app">

    <div class="cover-slider">
        <div class="swiper container-slider-prop">
            <div class="btn-slide left left-prop-slide"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="btn-slide right right-prop-slide"><i class="fa-solid fa-arrow-right"></i></div>
            <div class="swiper-wrapper">

                <img class="swiper-slide" src="/assets/img/prop.webp" alt="image" />
                <img class="swiper-slide" src="/assets/img/prop.jpg" alt="image" />

            </div>
        </div>
    </div>

    <div class="details">
        <div class="sc">
            <div class="title">Orchard House</div>
            <div class="sb-title">Mina Road, Bur Dubai, Dubai, United Arab Emirates</div>
            <div class="flex-sp">
                <div class="sp">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sp">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sp">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
        </div>
        <div class="sc right">
            <div class="price"><span>$2,045,472.00</span> / Start From</div>
        </div>
    </div>

    <div class="ctn-prod">
        <div class="sc right" style="width: 36%;" *ngIf="openContactMobile">
            <div class="section-prod">
                <div class="title">Contact Info</div>
                <div class="sp-c">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>A-32, Albany, Newyork.</span>
                </div>
                <div class="sp-c">
                    <i class="fa-solid fa-phone"></i>
                    <span>(+066) 518 - 457 - 5181</span>
                </div>
                <div class="form">
                    <input type="text" placeholder="your name">
                    <input type="text" placeholder="Email adress">
                    <input type="number" placeholder="Phone number">
                    <textarea placeholder="Message" rows="17"></textarea>
                    <button>send</button>
                </div>
            </div>
        </div>
        <div class="sc" style="width: 60%;">
            <div class="section-prod">
                <div class="title">Property Brief</div>
                <p>
                    Residences can be classified by and how they are connected to neighbouring residences and land.
                    Different types of housing tenure can be used for the same physical type.
                    Residences can be classified by and how they are connected to neighbouring residences and land.
                    Different types of housing tenure can be used for the same physical type.
                </p>
            </div>
            <div class="section-prod">
                <div class="title">Features</div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
                <div class="ft">
                    <i class="fa-solid fa-wifi"></i>
                    <span>Free Wi-Fi</span>
                </div>
            </div>
            <div class="section-prod">
                <div class="title">Video</div>
                <div class="video">
                    <img src="/assets/img/prop.webp" alt="image" />
                    <div class="ctn-vd">
                        <div class="btn-vd"><i class="fa-solid fa-play"></i></div>
                    </div>
                </div>
            </div>
            <div class="section-prod">
                <div class="title">Location</div>

            </div>
        </div>
        <div class="sc right" style="width: 36%;" *ngIf="!openContactMobile">
            <div class="section-prod">
                <div class="title">Contact Info</div>
                <div class="sp-c">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>A-32, Albany, Newyork.</span>
                </div>
                <div class="sp-c">
                    <i class="fa-solid fa-phone"></i>
                    <span>(+066) 518 - 457 - 5181</span>
                </div>
                <div class="form">
                    <input type="text" placeholder="your name">
                    <input type="text" placeholder="Email adress">
                    <input type="number" placeholder="Phone number">
                    <textarea placeholder="Message" rows="17"></textarea>
                    <button>send</button>
                </div>
            </div>
        </div>

    </div>

    <div class="grid-list">
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
    </div>

</div>