<div class="home-app">

    <div class="cover" style="background-image: url('/assets/img/cover.jpg');">
        <div class="content">
            <div class="sc" style="width: 50%;">
                <div class="brand">Heart Of Chartage Dubai</div>
                <div class="sb">Lorem ipsum dolor sit amet</div>
                <div class="title">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, fugit quisquam
                </div>
                <button class="c-btn" style="padding: 1.6% 5%;">read more</button>
                <div class="flex-card">
                    <div class="crd">
                        <i class="fa-solid fa-house"></i>
                        <br>
                        <span>House</span>
                    </div>
                    <div class="crd">
                        <i class="fa-regular fa-building"></i>
                        <br>
                        <span>Appartements</span>
                    </div>
                </div>
            </div> 
            <div class="sc outline" style="width: 25%;">
                <div class="form">
                    <div class="label">Property Status</div>
                    <select>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                    </select>
                    <div class="label">Property type</div>
                    <select>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                        <option value="1">option 1</option>
                    </select>
                    <div class="flex">
                        <div class="c-col">
                            <div class="label">Property type</div>
                            <select>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                            </select>
                        </div>
                        <div class="c-col">
                            <div class="label">Property type</div>
                            <select>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="c-col">
                            <div class="label">Min price</div>
                            <select>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                            </select>
                        </div>
                        <div class="c-col">
                            <div class="label">Max price</div>
                            <select>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                                <option value="1">option 1</option>
                            </select>
                        </div>
                    </div>
                    <div class="label">Input</div>
                    <input type="text" placeholder="write...">
                    <div class="buttons">
                        <button>search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">
        <span>sale</span>
        <div class="title">Latest For Sale</div>
        <div class="hr"></div>
    </div>

    <div class="grid-list">
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('/assets/img/prop.jpg');">
            <div class="content">
                <div class="status">
                    <span class="pr">sale</span>
                    <span class="suc">buy</span>
                    <span class="oh">other</span>
                </div>
                <div class="description">
                    <div class="header-desc">
                        <div class="dt">
                            <div class="title">Elysee Heights</div>
                            <div class="sb-title">$189 / start from</div>
                        </div>
                        <button class="c-btn">details</button>
                    </div>
                    <div class="flex-sp">
                        <div class="sc" style="background-color: #636363;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #565656;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #494949;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                        <div class="sc" style="background-color: #3d3d3d;">
                            <span>Beds</span>
                            <br>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" style="background-image: url('/assets/img/prop.webp');">
        <div class="content">
            <div class="section-title">
                <span>sale</span>
                <div class="title">Latest For Sale</div>
                <div class="hr"></div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>
            <div class="crdt">
                <div class="ctn">
                    <img src="/assets/img/logo.png" alt="image" class="img">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dicta hic, sequi pariatur
                        deleniti voluptas, sed ipsa qui beatae porro ipsam temporibus eligendi est aspernatur magnam
                        culpa ea, eaque unde.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="section-title">
        <span>Rent</span>
        <div class="title">Latest For Sale</div>
        <div class="hr"></div>
    </div>

    <div class="grid-list">
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
        <div class="post">
            <div class="status">
                <div class="st pr"><span>sale</span></div>
                <div class="st suc"><span>open house</span></div>
                <div class="st oh"><span>no fees</span></div>
            </div>
            <div class="image" style="background-image: url('/assets/img/prop.webp');"></div>
            <div class="ttl">U A E</div>
            <div class="title">Apartment in JVC</div>
            <div class="sb-title">$180</div>
            <p>
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
                Discover our ready-to-move properties in Dubai, where luxury meets convenience. Our homes and
                apartments offer an unparalleled lifestyle in one of the world's most dynamic cities
            </p>
            <div class="flex-sp">
                <div class="sc">
                    <i class="fa-solid fa-bed"></i>
                    <span>Beds: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-bath"></i>
                    <span>Baths: 2</span>
                </div>
                <div class="hr"></div>
                <div class="sc">
                    <i class="fa-solid fa-expand"></i>
                    <span>Sq Ft: 6000</span>
                </div>
            </div>
            <div class="footer">
                <span>December 1, 2023</span>
                <button>Details</button>
            </div>
        </div>
    </div>

</div>